<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
		<li class="active"><a href="#">概览</a></li>
	</ul>
    <ul class="nav nav-sidebar">
        <li><a href="">系统日志</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="index.php?p=admin&c=category&a=oper">模块管理</a></li>
        <li><a href="index.php?p=admin&c=blog&a=oper">内容管理</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">统计数据</a></li>
        <li><a href="">数据可视化</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href=""></a></li>
    </ul>
</div>
        
  